/Week2/nbproject/private/
/Week2/build/
/ExtraHours/nbproject/private/
/ExtraHours/build/
/Matrices/nbproject/private/
/Matrices/build/
/Vectors/nbproject/private/
/Vectors/build/
/MatrixMinMax/nbproject/private/
/MatrixMinMax/build/